In [3]:
import geopandas as gpd
import pandas as pd
from shapely.geometry import Point
%matplotlib inline
import seaborn as sns
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings('ignore')

/opt/anaconda3/lib/python3.7/site-packages/geopandas/_compat.py:115: UserWarning: The Shapely GEOS version (3.10.2-CAPI-1.16.0) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  shapely_geos_version, geos_capi_version_string
/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [4]:
mp = pd.read_csv("SeattleData/MarketProfile/R13142629_SL150.csv")

In [5]:
#mp

## Family Population

In [44]:
family_ppl = mp[['Geo_FIPS','ORG_TOT_POP0','ORG_POPFAM']]
family_ppl['family_ppl%']  = family_ppl['ORG_POPFAM']/family_ppl['ORG_TOT_POP0']
family_ppl = family_ppl[['Geo_FIPS','family_ppl%']]
family_ppl.head()

       Geo_FIPS  family_ppl%
0  530330001001     0.805365
1  530330001002     0.666436
2  530330001003     0.593532
3  530330001004     0.608620
4  530330001005     0.396004

## Travel to work

In [7]:
ttw = mp[['Geo_FIPS','ORG_TRAV30_59','ORG_TRAV60_89','ORG_TRAV90P','ORG_TRANCAR','ORG_TRANPUBLIC','ORG_TRANBCYCL','ORG_TRANWALK','ORG_TOT_POP10']]
ttw.head()

,Geo_FIPS,ORG_TRAV30_59,ORG_TRAV60_89,ORG_TRAV90P,ORG_TRANCAR,ORG_TRANPUBLIC,ORG_TRANBCYCL,ORG_TRANWALK,ORG_TOT_POP10
0,530330001001,361,0,0,532,103,39,0,1454
1,530330001002,265,23,87,444,269,0,0,1448
2,530330001003,496,35,0,670,164,30,0,1577
3,530330001004,214,97,0,631,254,0,22,1717
4,530330001005,279,26,0,380,203,17,23,1101

In [8]:
ttw['ttw_30_59%']  = ttw['ORG_TRAV30_59']/ttw['ORG_TOT_POP10']
ttw['ttw_60_89%']  = ttw['ORG_TRAV60_89']/ttw['ORG_TOT_POP10']
ttw['ttw_90%']  = ttw['ORG_TRAV90P']/ttw['ORG_TOT_POP10']
ttw['ttw_bycar%'] = ttw['ORG_TRANCAR']/ttw['ORG_TOT_POP10']
ttw['ttw_bytransit%'] =ttw['ORG_TRANPUBLIC']/ttw['ORG_TOT_POP10']
ttw['ttw_bybike%'] =ttw['ORG_TRANBCYCL']/ttw['ORG_TOT_POP10']
ttw['ttw_byfoot%'] =ttw['ORG_TRANWALK']/ttw['ORG_TOT_POP10']
ttw.head()

,Geo_FIPS,ORG_TRAV30_59,ORG_TRAV60_89,ORG_TRAV90P,ORG_TRANCAR,ORG_TRANPUBLIC,ORG_TRANBCYCL,ORG_TRANWALK,ORG_TOT_POP10,ttw_30_59%,ttw_60_89%,ttw_90%,ttw_bycar%,ttw_bytransit%,ttw_bybike%,ttw_byfoot%
0,530330001001,361,0,0,532,103,39,0,1454,0.248281,0.000000,0.000000,0.365887,0.070839,0.026823,0.000000
1,530330001002,265,23,87,444,269,0,0,1448,0.183011,0.015884,0.060083,0.306630,0.185773,0.000000,0.000000
2,530330001003,496,35,0,670,164,30,0,1577,0.314521,0.022194,0.000000,0.424857,0.103995,0.019023,0.000000
3,530330001004,214,97,0,631,254,0,22,1717,0.124636,0.056494,0.000000,0.367501,0.147932,0.000000,0.012813
4,530330001005,279,26,0,380,203,17,23,1101,0.253406,0.023615,0.000000,0.345141,0.184378,0.015441,0.020890

In [9]:
ttw_summary = ttw[['Geo_FIPS','ttw_30_59%','ttw_60_89%','ttw_90%','ttw_bycar%','ttw_bytransit%','ttw_bybike%','ttw_byfoot%']]
ttw_summary.head()

,Geo_FIPS,ttw_30_59%,ttw_60_89%,ttw_90%,ttw_bycar%,ttw_bytransit%,ttw_bybike%,ttw_byfoot%
0,530330001001,0.248281,0.000000,0.000000,0.365887,0.070839,0.026823,0.000000
1,530330001002,0.183011,0.015884,0.060083,0.306630,0.185773,0.000000,0.000000
2,530330001003,0.314521,0.022194,0.000000,0.424857,0.103995,0.019023,0.000000
3,530330001004,0.124636,0.056494,0.000000,0.367501,0.147932,0.000000,0.012813
4,530330001005,0.253406,0.023615,0.000000,0.345141,0.184378,0.015441,0.020890

## Median Vehicles per Household

In [10]:
median_vehicles = mp[['Geo_FIPS','ORG_MEDVEHICLE']]
median_vehicles = median_vehicles.rename(columns={'ORG_MEDVEHICLE': 'median_vehicles_per_household'})
median_vehicles.head()

       Geo_FIPS  median_vehicles_per_household
0  530330001001                            1.6
1  530330001002                            1.6
2  530330001003                            1.6
3  530330001004                            1.7
4  530330001005                            1.6

## Population Change

In [11]:
ppl_growth = mp[['Geo_FIPS','ORG_POPGROW20','ORG_POPFORE25']]
ppl_growth = ppl_growth.rename(columns={'ORG_POPGROW20': 'ppl_growth%_2010_2020','ORG_POPFORE25': 'ppl_growth%_2020_2025'})
ppl_growth.head()

       Geo_FIPS  ppl_growth%_2010_2020  ppl_growth%_2020_2025
0  530330001001                  16.32                   4.40
1  530330001002                  17.34                   4.28
2  530330001003                  17.95                   4.57
3  530330001004                  15.08                   4.37
4  530330001005                  16.88                   4.54

## Median Rent

In [12]:
rent = mp[['Geo_FIPS','ORG_MEDRENT']]
rent = rent.rename(columns={'ORG_MEDRENT': 'median_rent'})

In [13]:
rent.head()

       Geo_FIPS  median_rent
0  530330001001         1647
1  530330001002          821
2  530330001003          797
3  530330001004          674
4  530330001005          989

## Income

In [14]:
# household income median, per capital income
income = mp[['Geo_FIPS','ORG_MEDHHINC','ORG_PERCAPINC']]
income = income.rename(columns={'ORG_MEDHHINC': 'income_household_median','ORG_PERCAPINC': 'income_percapita'})
income.head()

       Geo_FIPS  income_household_median  income_percapita
0  530330001001                   154138             71251
1  530330001002                    30978             23190
2  530330001003                    66118             52181
3  530330001004                    34758             22211
4  530330001005                    57292             41977

## Quality of Life

https://www.easidemographics.com/mdbhelp/html/quality_of_life_1.htm

In [15]:
qol = mp[['Geo_FIPS','ORG_EASIQLIFE']]
qol = qol.rename(columns={'ORG_EASIQLIFE': 'quality_of_life_score'})
qol.head()

       Geo_FIPS  quality_of_life_score
0  530330001001                    133
1  530330001002                    123
2  530330001003                    119
3  530330001004                    124
4  530330001005                    119

## Daytime Population

In [16]:
day_ppl = mp[['Geo_FIPS','ORG_EASIDAYPOP']]
day_ppl = day_ppl.rename(columns={'ORG_EASIDAYPOP': 'daytime_ppl'})
day_ppl.head()

       Geo_FIPS  daytime_ppl
0  530330001001         1035
1  530330001002         1004
2  530330001003         1321
3  530330001004         1700
4  530330001005         1007

## Consumer Expenditure

In [17]:
expenditure = mp[['Geo_FIPS','ORG_ANNEXP','ORG_TRANSPORT']]

In [18]:
expenditure['transport_expenditure%']=expenditure['ORG_TRANSPORT']/expenditure['ORG_ANNEXP']
expenditure.head()

       Geo_FIPS  ORG_ANNEXP  ORG_TRANSPORT  transport_expenditure%
0  530330001001     55420.2         8261.8                0.149076
1  530330001002     35932.5         5654.2                0.157356
2  530330001003     53548.6         8142.8                0.152064
3  530330001004     42677.9         6757.0                0.158326
4  530330001005     38664.9         5893.1                0.152415

In [19]:
expenditure_summary =expenditure [['Geo_FIPS','transport_expenditure%']]
expenditure_summary.head()

       Geo_FIPS  transport_expenditure%
0  530330001001                0.149076
1  530330001002                0.157356
2  530330001003                0.152064
3  530330001004                0.158326
4  530330001005                0.152415

### Consumer Expenditures, Transportation

In [20]:
mp_te = pd.read_csv("SeattleData/MarketProfile/2021/Transportation/R13149034_SL150.csv")

In [21]:
transportation_expenditure = mp_te[['Geo_FIPS','ORG_TRANSPORT1','ORG_VEHPURCH','ORG_GAS','ORG_OTHRVEH','ORG_PUBTRANS']]

In [22]:
transportation_expenditure['vehicle_purchase%']  = transportation_expenditure['ORG_VEHPURCH']/transportation_expenditure['ORG_TRANSPORT1']
transportation_expenditure['gas%']  = transportation_expenditure['ORG_GAS']/transportation_expenditure['ORG_TRANSPORT1']
transportation_expenditure['vehicle_others%']  = transportation_expenditure['ORG_OTHRVEH']/transportation_expenditure['ORG_TRANSPORT1']
transportation_expenditure['public_transport%']  = transportation_expenditure['ORG_PUBTRANS']/transportation_expenditure['ORG_TRANSPORT1']

In [23]:
transportation_expenditure = transportation_expenditure[['Geo_FIPS','vehicle_purchase%','gas%','vehicle_others%','public_transport%']]

In [24]:
transportation_expenditure.head()

,Geo_FIPS,vehicle_purchase%,gas%,vehicle_others%,public_transport%
0,530330001001,0.404101,0.173287,0.310203,0.118847
1,530330001002,0.391732,0.204916,0.326656,0.077755
2,530330001003,0.393374,0.189434,0.320162,0.100150
3,530330001004,0.387533,0.208966,0.332019,0.072405
4,530330001005,0.386423,0.193007,0.320597,0.095382

## Population Density / Population Density Change

population density 2020\
Population Density Change 2010 - 2020

In [25]:
density = mp[['Geo_FIPS','ORG_TOTPOP20201','ORG_POPDSCHG1020']]
density = density.rename(columns={'ORG_TOTPOP20201': 'ppl_density','ORG_POPDSCHG1020': 'ppl_density_change'})
density['ppl_density_change%']  = density['ppl_density_change']/density['ppl_density']
density.head()

       Geo_FIPS  ppl_density  ppl_density_change  ppl_density_change%
0  530330001001       4209.9               590.7             0.140312
1  530330001002      13004.2              1921.9             0.147791
2  530330001003      11017.0              1676.7             0.152192
3  530330001004      35176.5              4609.6             0.131042
4  530330001005      12370.6              1786.4             0.144407

## Housing Units In Structure

In [26]:
mp_2021 = pd.read_csv("SeattleData/MarketProfile/2021/HousingStructure/R13148971_SL150.csv")

In [27]:
housing = mp_2021[['Geo_FIPS','ORG_OCCUNIT2','ORG_S_1D','ORG_S_1A','ORG_S_2','ORG_S_3_4','ORG_S_5_9','ORG_S_10_19','ORG_S_20_49','ORG_S_50P']]

In [28]:
housing['hs_1_detached%']  = housing['ORG_S_1D']/housing['ORG_OCCUNIT2']
housing['hs_1_attached%']  = housing['ORG_S_1A']/housing['ORG_OCCUNIT2']
housing['hs_2%']  = housing['ORG_S_2']/housing['ORG_OCCUNIT2']
housing['hs_3_4%']  = housing['ORG_S_3_4']/housing['ORG_OCCUNIT2']
housing['hs_5_9%']  = housing['ORG_S_5_9']/housing['ORG_OCCUNIT2']
housing['hs_10_19%']  = housing['ORG_S_10_19']/housing['ORG_OCCUNIT2']
housing['hs_20_49%']  = housing['ORG_S_20_49']/housing['ORG_OCCUNIT2']
housing['hs_50p%']  = housing['ORG_S_50P']/housing['ORG_OCCUNIT2']

In [29]:
housing = housing [['Geo_FIPS','hs_1_detached%','hs_1_attached%','hs_2%','hs_3_4%','hs_5_9%','hs_10_19%','hs_20_49%','hs_50p%']]

In [30]:
housing

,Geo_FIPS,hs_1_detached%,hs_1_attached%,hs_2%,hs_3_4%,hs_5_9%,hs_10_19%,hs_20_49%,hs_50p%
0,530330001001,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,530330001002,0.147059,0.043417,0.060224,0.060224,0.135854,0.054622,0.100840,0.397759
2,530330001003,0.302583,0.066421,0.000000,0.146371,0.067651,0.094711,0.017220,0.305043
3,530330001004,0.060706,0.039735,0.000000,0.025386,0.161148,0.162252,0.320088,0.195364
4,530330001005,0.127596,0.000000,0.000000,0.000000,0.037092,0.000000,0.106825,0.728487
...,...,...,...,...,...,...,...,...,...
474,530330120003,0.942134,0.000000,0.000000,0.000000,0.000000,0.000000,0.057866,0.000000
475,530330121001,0.724307,0.022838,0.035889,0.000000,0.019576,0.099511,0.029364,0.055465
476,530330121002,0.977807,0.000000,0.000000,0.000000,0.000000,0.000000,0.022193,0.000000
477,530330263001,0.601156,0.005780,0.000000,0.202312,0.000000,0.000000,0.023121,0.167630
478,530330264001,0.340836,0.125402,0.000000,0.067524,0.000000,0.106109,0.360129,0.000000

### Mortality Index

In [31]:
mortality = mp[['Geo_FIPS','ORG_MORT_INDX']]
mortality = mortality.rename(columns={'ORG_MORT_INDX': 'mortality_index'})

In [32]:
mortality

         Geo_FIPS  mortality_index
0    530330001001              104
1    530330001002               93
2    530330001003               95
3    530330001004               22
4    530330001005              150
..            ...              ...
474  530330120003              110
475  530330121001              171
476  530330121002              148
477  530330263001              107
478  530330264001               27

[479 rows x 2 columns]

 ### EASI Crime Index
 Murder Index\
Forcible Rape Index\
Forcible Robbery Index\
Aggravated Assault Index\
Burglary Index\
Larceny Index\
Motor Vehicle Theft Index\
Total Crime Index

In [41]:
crime = mp[['Geo_FIPS','ORG_MURDERS','ORG_RAPE','ORG_ROBBERY','ORG_ASSAULT','ORG_BURGLARY','ORG_LARCENY','ORG_CARTHEFT','ORG_TOTCRIME']]
crime = crime.rename(columns={'ORG_MURDERS': 'murder_index','ORG_RAPE': 'rape_index','ORG_ROBBERY': 'robbery_index','ORG_ASSAULT': 'assault_index','ORG_BURGLARY': 'burglary_index','ORG_LARCENY': 'larceny_index','ORG_CARTHEFT': 'car_theft_index','ORG_TOTCRIME': 'crime_index'})

In [42]:
crime

,Geo_FIPS,murder_index,rape_index,robbery_index,assault_index,burglary_index,larceny_index,car_theft_index,crime_index
0,530330001001,26,13,8,74,71,123,75,37
1,530330001002,196,197,185,196,147,188,197,196
2,530330001003,194,193,174,192,124,180,194,193
3,530330001004,197,196,186,194,147,189,196,196
4,530330001005,187,168,194,182,171,196,187,179
...,...,...,...,...,...,...,...,...,...
474,530330120003,105,20,38,109,57,115,86,78
475,530330121001,21,27,53,130,58,82,64,40
476,530330121002,19,48,48,73,39,90,72,16
477,530330263001,21,73,35,141,112,98,64,108
478,530330264001,98,78,39,89,125,175,111,107

In [45]:
df = family_ppl.merge(ttw_summary, on='Geo_FIPS').merge(median_vehicles, on='Geo_FIPS').merge(ppl_growth, on='Geo_FIPS').merge(rent, on='Geo_FIPS').merge(income, on='Geo_FIPS').merge(qol, on='Geo_FIPS').merge(day_ppl, on='Geo_FIPS').merge(expenditure_summary, on='Geo_FIPS').merge(transportation_expenditure, on='Geo_FIPS').merge(density, on='Geo_FIPS').merge(housing, on='Geo_FIPS').merge(mortality, on='Geo_FIPS').merge(crime, on='Geo_FIPS')

In [46]:
df

,Geo_FIPS,family_ppl%,ttw_30_59%,ttw_60_89%,ttw_90%,ttw_bycar%,ttw_bytransit%,ttw_bybike%,ttw_byfoot%,median_vehicles_per_household,ppl_growth%_2010_2020,ppl_growth%_2020_2025,median_rent,income_household_median,income_percapita,quality_of_life_score,daytime_ppl,transport_expenditure%,vehicle_purchase%,gas%,vehicle_others%,public_transport%,ppl_density,ppl_density_change,ppl_density_change%,hs_1_detached%,hs_1_attached%,hs_2%,hs_3_4%,hs_5_9%,hs_10_19%,hs_20_49%,hs_50p%,mortality_index,murder_index,rape_index,robbery_index,assault_index,burglary_index,larceny_index,car_theft_index,crime_index
0,530330001001,0.805365,0.248281,0.000000,0.000000,0.365887,0.070839,0.026823,0.000000,1.6,16.32,4.40,1647,154138,71251,133,1035,0.149076,0.404101,0.173287,0.310203,0.118847,4209.9,590.7,0.140312,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,104,26,13,8,74,71,123,75,37
1,530330001002,0.666436,0.183011,0.015884,0.060083,0.306630,0.185773,0.000000,0.000000,1.6,17.34,4.28,821,30978,23190,123,1004,0.157356,0.391732,0.204916,0.326656,0.077755,13004.2,1921.9,0.147791,0.147059,0.043417,0.060224,0.060224,0.135854,0.054622,0.100840,0.397759,93,196,197,185,196,147,188,197,196
2,530330001003,0.593532,0.314521,0.022194,0.000000,0.424857,0.103995,0.019023,0.000000,1.6,17.95,4.57,797,66118,52181,119,1321,0.152064,0.393374,0.189434,0.320162,0.100150,11017.0,1676.7,0.152192,0.302583,0.066421,0.000000,0.146371,0.067651,0.094711,0.017220,0.305043,95,194,193,174,192,124,180,194,193
3,530330001004,0.608620,0.124636,0.056494,0.000000,0.367501,0.147932,0.000000,0.012813,1.7,15.08,4.37,674,34758,22211,124,1700,0.158326,0.387533,0.208966,0.332019,0.072405,35176.5,4609.6,0.131042,0.060706,0.039735,0.000000,0.025386,0.161148,0.162252,0.320088,0.195364,22,197,196,186,194,147,189,196,196
4,530330001005,0.396004,0.253406,0.023615,0.000000,0.345141,0.184378,0.015441,0.020890,1.6,16.88,4.54,989,57292,41977,119,1007,0.152415,0.386423,0.193007,0.320597,0.095382,12370.6,1786.4,0.144407,0.127596,0.000000,0.000000,0.000000,0.037092,0.000000,0.106825,0.728487,150,187,168,194,182,171,196,187,179
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,530330120003,0.795632,0.283931,0.051482,0.012480,0.469579,0.075663,0.000000,0.000000,2.5,17.40,4.52,1439,110577,60986,130,2040,0.154575,0.409870,0.181085,0.313275,0.096116,7024.4,1041.1,0.148212,0.942134,0.000000,0.000000,0.000000,0.000000,0.000000,0.057866,0.000000,110,105,20,38,109,57,115,86,78
475,530330121001,0.803922,0.115385,0.042986,0.007541,0.388386,0.022624,0.000000,0.000000,2.4,14.61,4.52,1500,139338,82249,132,925,0.151154,0.407153,0.175669,0.313861,0.107076,4045.7,515.7,0.127469,0.724307,0.022838,0.035889,0.000000,0.019576,0.099511,0.029364,0.055465,171,21,27,53,130,58,82,64,40
476,530330121002,0.848929,0.156708,0.015220,0.008455,0.407554,0.026494,0.000000,0.000000,2.4,16.40,4.68,1415,117602,59913,135,1169,0.153299,0.407761,0.178910,0.314219,0.102159,5266.6,742.2,0.140926,0.977807,0.000000,0.000000,0.000000,0.000000,0.000000,0.022193,0.000000,148,19,48,48,73,39,90,72,16
477,530330263001,0.841772,0.086498,0.016878,0.000000,0.405063,0.021097,0.000000,0.000000,2.3,14.22,5.06,893,82576,38556,123,286,0.154384,0.380872,0.192536,0.322765,0.100100,395.8,49.3,0.124558,0.601156,0.005780,0.000000,0.202312,0.000000,0.000000,0.023121,0.167630,107,21,73,35,141,112,98,64,108
478,530330264001,0.670677,0.203008,0.000000,0.000000,0.374436,0.097744,0.000000,0.000000,1.8,17.70,4.06,739,79126,37140,124,1450,0.159335,0.390215,0.199495,0.329545,0.076831,1290.1,194.0,0.150376,0.340836,0.125402,0.000000,0.067524,0.000000,0.106109,0.360129,0.000000,27,98,78,39,89,125,175,111,107

In [47]:
df.to_csv('SeattleData/SeattleSocialFactors_1.csv',index=False)

In [48]:
d = pd.read_csv("SeattleData/SeattleSocialFactors_1.csv")

In [49]:
d

,Geo_FIPS,family_ppl%,ttw_30_59%,ttw_60_89%,ttw_90%,ttw_bycar%,ttw_bytransit%,ttw_bybike%,ttw_byfoot%,median_vehicles_per_household,ppl_growth%_2010_2020,ppl_growth%_2020_2025,median_rent,income_household_median,income_percapita,quality_of_life_score,daytime_ppl,transport_expenditure%,vehicle_purchase%,gas%,vehicle_others%,public_transport%,ppl_density,ppl_density_change,ppl_density_change%,hs_1_detached%,hs_1_attached%,hs_2%,hs_3_4%,hs_5_9%,hs_10_19%,hs_20_49%,hs_50p%,mortality_index,murder_index,rape_index,robbery_index,assault_index,burglary_index,larceny_index,car_theft_index,crime_index
0,530330001001,0.805365,0.248281,0.000000,0.000000,0.365887,0.070839,0.026823,0.000000,1.6,16.32,4.40,1647,154138,71251,133,1035,0.149076,0.404101,0.173287,0.310203,0.118847,4209.9,590.7,0.140312,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,104,26,13,8,74,71,123,75,37
1,530330001002,0.666436,0.183011,0.015884,0.060083,0.306630,0.185773,0.000000,0.000000,1.6,17.34,4.28,821,30978,23190,123,1004,0.157356,0.391732,0.204916,0.326656,0.077755,13004.2,1921.9,0.147791,0.147059,0.043417,0.060224,0.060224,0.135854,0.054622,0.100840,0.397759,93,196,197,185,196,147,188,197,196
2,530330001003,0.593532,0.314521,0.022194,0.000000,0.424857,0.103995,0.019023,0.000000,1.6,17.95,4.57,797,66118,52181,119,1321,0.152064,0.393374,0.189434,0.320162,0.100150,11017.0,1676.7,0.152192,0.302583,0.066421,0.000000,0.146371,0.067651,0.094711,0.017220,0.305043,95,194,193,174,192,124,180,194,193
3,530330001004,0.608620,0.124636,0.056494,0.000000,0.367501,0.147932,0.000000,0.012813,1.7,15.08,4.37,674,34758,22211,124,1700,0.158326,0.387533,0.208966,0.332019,0.072405,35176.5,4609.6,0.131042,0.060706,0.039735,0.000000,0.025386,0.161148,0.162252,0.320088,0.195364,22,197,196,186,194,147,189,196,196
4,530330001005,0.396004,0.253406,0.023615,0.000000,0.345141,0.184378,0.015441,0.020890,1.6,16.88,4.54,989,57292,41977,119,1007,0.152415,0.386423,0.193007,0.320597,0.095382,12370.6,1786.4,0.144407,0.127596,0.000000,0.000000,0.000000,0.037092,0.000000,0.106825,0.728487,150,187,168,194,182,171,196,187,179
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,530330120003,0.795632,0.283931,0.051482,0.012480,0.469579,0.075663,0.000000,0.000000,2.5,17.40,4.52,1439,110577,60986,130,2040,0.154575,0.409870,0.181085,0.313275,0.096116,7024.4,1041.1,0.148212,0.942134,0.000000,0.000000,0.000000,0.000000,0.000000,0.057866,0.000000,110,105,20,38,109,57,115,86,78
475,530330121001,0.803922,0.115385,0.042986,0.007541,0.388386,0.022624,0.000000,0.000000,2.4,14.61,4.52,1500,139338,82249,132,925,0.151154,0.407153,0.175669,0.313861,0.107076,4045.7,515.7,0.127469,0.724307,0.022838,0.035889,0.000000,0.019576,0.099511,0.029364,0.055465,171,21,27,53,130,58,82,64,40
476,530330121002,0.848929,0.156708,0.015220,0.008455,0.407554,0.026494,0.000000,0.000000,2.4,16.40,4.68,1415,117602,59913,135,1169,0.153299,0.407761,0.178910,0.314219,0.102159,5266.6,742.2,0.140926,0.977807,0.000000,0.000000,0.000000,0.000000,0.000000,0.022193,0.000000,148,19,48,48,73,39,90,72,16
477,530330263001,0.841772,0.086498,0.016878,0.000000,0.405063,0.021097,0.000000,0.000000,2.3,14.22,5.06,893,82576,38556,123,286,0.154384,0.380872,0.192536,0.322765,0.100100,395.8,49.3,0.124558,0.601156,0.005780,0.000000,0.202312,0.000000,0.000000,0.023121,0.167630,107,21,73,35,141,112,98,64,108
478,530330264001,0.670677,0.203008,0.000000,0.000000,0.374436,0.097744,0.000000,0.000000,1.8,17.70,4.06,739,79126,37140,124,1450,0.159335,0.390215,0.199495,0.329545,0.076831,1290.1,194.0,0.150376,0.340836,0.125402,0.000000,0.067524,0.000000,0.106109,0.360129,0.000000,27,98,78,39,89,125,175,111,107